.shop-detail{padding: 29px 26px 32px;}
.shop-detail label{color: #898989; font-size: 16px;} 
.shop-detail span{margin-left:70px}
.shop-detail span.email{margin-left:114px}
.shop-detail span.location{margin-left:82px}

.shop-detail .col-md-6{padding-bottom: 36px;}
