<div class="header">
  <div class="header-left">
  <div class="logo">
    TOSS IT
  </div>
  <div class="divider"></div>
  <div class="header-image">
    <img id="filter" src="./../../../assets/img/filter.png">
  </div>
  <div class="divider"></div>
  <div class="location-section">
    <span><img id="location"  src="./../../../assets/img/location.png"> </span>
    <span id="location-text1">Flayer for M957GHDF</span>
    <span id="location-text2">(Change Location)</span>
  </div>
</div>
  <div class="header-right">
   
    <ul class="nav">
      <li > <input type="text" id="lname" name="lname" placeholder="Search flyers or items"></li>
      <li>
        <div class="divider"></div>
        <div class="header-image">
          <img id="bell" src="./../../../assets/img/bell.png">
        </div>
        <div class="divider"></div>
      </li>
      <li> <img class="admin-image" src="./../../../assets/img/admin.jpeg"></li>
      <li>
        <div class="admin-name">
          Andrew Prokopenko
          <i class="fa fa-angle-down" style="font-size:16px"></i>
        </div>
      </li>
    </ul>
  </div>
  </div>